{% extends "template.html.twig" %}

{% block body %}
    <div class="alert alert-success">
        {{ user.email }}, {{ user.age }} ans
        {% if app.user %}
            <p>Created By {{ app.user.email }}</p>
        {% endif %}
    </div>
{% endblock %}

{% block title %}
    Page user
{% endblock %}

{% block PageTitle %}
    Page de l'utilisateur : {{ user.username }}
{% endblock %}